.about_container{
    display: grid;
    grid-gap: 3rem;
    height: 100vh;
    align-items: center;
    margin: 10rem 0;
}

.about_content_top{
    display: grid;
    justify-content: center;
}

.about_heading h1{
    font-size: 3rem;
    text-align: center;
}

.about_para{
    width: 60%;
    margin: auto;
}

.about_para p{
    font-size: 1.8rem;
    text-align: center;
}

.about_content_bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50rem,1fr));
    align-items: center;
    width: 90%;
    margin: auto;
}

.about_left{
    width: 50%;
    margin: auto;
}

.about_left img{
    width: 100%;
    background-size: cover;
}

.about_right{
    display: grid;
    grid-gap: 2rem;
} 

.hi_there h1{
    font-size: 3rem;
}

.second_para{
    font-size: 1.5rem;
    font-weight: 500;
}

.about_detail{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 2rem;
}

.about_detail_content h1{
    color:#dd5252;
}